<h2>
    Feed
    ·
    <%= link_to 'Subscriptions', subscriptions_path, class: 'nice-link' %>
</h2>

<% if @entries.any? %>
    <%= link_to 'Mark all as read', mark_all_read_path, class: 'nice-button nice-button_chill', method: :put %> <br>

    <br>
<% end %>

<div class="entries__count">
    <%= render partial: 'entries_count', locals: { entries: @entries } %>
</div>

<div id="feed" class="entries">
    <% @entries.each do |entry| %>
        <%= render entry %>
    <% end %>
</div>
