<h2>Feed</h2>

<%= link_to 'Subscriptions', subscriptions_path, class: 'nice-link' %>

<%= link_to 'add new', subscriptions_new_path, class: 'nice-button' %>

<br>
<br>

<div class="entries__count">
    <%= pluralize(@entries.count, 'post', 'posts') %>
</div>

<div class="entries">
    <% @entries.each do |entry| %>
        <%= render entry %>
    <% end %>
</div>
