<img src="/logo.png" height="35px"/>
<p>A simple feed reader.</p>

<br>

<div class="invite-box">
    <p>Get invite to login or signup:</p>
    <%= render partial: 'form', locals: { invite: @invite } %>
</div>
