<h2>
    <%= link_to 'Feed', feed_path, class: 'nice-link' %>
    ·
    Subscriptions
</h2>

<% if @subscriptions.empty? %>
    <p>
        No subscriptions yet.
        Go and <%= link_to 'add one', subscriptions_new_path, class: 'nice-link' %>.
    </p>
<% else %>
    <%= link_to 'Add new', subscriptions_new_path, class: 'nice-link' %>
    <br>
    <br>
<% end %>

<div class="subscriptions">
    <% @subscriptions.each do |subscription| %>
        <%= render subscription %>
    <% end %>
</div>
