<%= link_to 'â† subscriptions', subscriptions_path, class: 'nice-link' %>

<br><br>

<h2>Subscribe</h2>
<p>Insert link to RSS or Atom feed.</p>

<%= render 'form', subscription_form: @subscription_form %>
