/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.user-bar {
    float: right;
}

.user-bar__email {
}

.flash {
    color: #8BC34A;
    margin-bottom: 10px;
    border: 1px dashed #e6e6e6;
    padding: 18px;
    border-radius: 3px;
    width: 302px;
    font-style: italic;
}

.flash_notice {
    color: #66bb6a;
}
