.entries {
}

.entries__count {
    margin-bottom: 10px;
}

.entries__entry {
    margin-bottom: 15px;
}

.entries__entry_read .entry__link {
    opacity: 0.5;
}

.entry__time-ago {
    font-size: 12px;
    color: gray;
}

.entry__favicon {
    height: 12px;
    width: 12px;
}

.entry__title {
    display: inline-block;
    margin-bottom: 5px;
}

.entry__link:focus {
    outline: none;
}

.entry__status {
    font-style: italic;
}

.entry__summary {
    width: 600px;
    font-size: 12px;
    margin-bottom: 2px;
}
