.subscriptions {
}

.subscriptions__subscription {
    padding: 11px 90px 11px 10px;
    margin-bottom: 16px;
    border-radius: 3px;
    width: 472px;
    margin-left: -8px;
}

.subscription__title {
    margin: 0;
}

.subscription__description {
    font-size: 12px;
}

.subscription__unsubscribe-button {
    float: right;
    margin-top: -4px;
    margin-right: -80px;
    opacity: 0;
    transition: opacity 150ms;
}

.subscriptions__subscription:hover .subscription__unsubscribe-button {
    opacity: 1;
    display: inline;
}
