.subscriptions {
}

.subscriptions__subscription {
    background-color: rgba(41, 129, 186, 0.04);
    padding: 10px;
    margin-bottom: 16px;
    border-radius: 3px;
    width: 472px;
    margin-left: -8px;
}

.subscription__title {
    margin: 0;
}

.subscription__description {
    font-size: 12px;
}
